<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="streetlamp.mapper.WebsiteMapper">
    <select id="queryAll" resultType="streetlamp.pojo.Website">
        select * from website
    </select>
    <select id="findByPaging" resultType="streetlamp.pojo.Website">
        select * from website
    </select>
</mapper>